body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  font-size: 2rem;
 color: #e2dfdb;

 
}

hr {
  margin: 20px auto;
  color: #F05F44;
  border: 3px solid #F05F44;
  max-width: 65px;
  opacity: 1;  
  max-width: 65px;
}

.btn-xl{
  padding: 1rem 2rem;
}

.btn{
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
 
}

.btn-primary{
  background-color: rgb(204, 57, 4);
}

.btn-primary:hover{
  background-color: rgba(252, 134, 0, 0.993);
}

.buffer{
  height:10rem
}